.card {
    max-width: 413px;
    position: relative;
}

.card__title {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 353px;
}

.card__image {
    height: 413px;
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 8px;
    margin-bottom: 12px;
}

.card__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background: #ccc url('../images/deleteButton.svg') center center no-repeat;
  background-size: 50%; 
  border: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  z-index: 2;
}

.card__delete-button:hover {
  opacity: 1;
  background-image: url(../images/State=Hover.svg);
}

.card__like-button {
    background-image: url(../images/Like\ Icon.svg);
    width: 23px;
    height: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: 150ms ease;
    opacity: 0.4;
} 


.card__like-button_active {
    background-image: url(../images/likeButton.svg);
    opacity: 1;
}

.card__like-button_active:hover {
    opacity: 0.4;
}

.card__like-button:hover {
    opacity: 1;
}

 @media screen and (max-width: 627px) {
    .card__image {
        height: 288px;
    }

      .card__title {
        max-width: 235px;
    }

}



