.card {
    max-width: 413px;
}

.card__image {
    height: 413px;
    width: 100%;
    object-fit: cover;
    display: block;
}

.card__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__like-button {
    background-image: url(../images/Like\ Icon.svg);
    width: 23px;
    height: 20px;
    border: none;
    background-color: transparent;
    opacity: 40%;
} 

@media screen and (max-width: 627px) {
   .card__list {
    grid-template-columns: repeat(auto-fit, 288px);
    }
}