.card {
    max-width: 413px;
}

.card__title {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 353px;
}

.card__image {
    height: 413px;
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 8px;
    margin-bottom: 12px;
}

.card__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__like-button {
    background-image: url(../images/Like\ Icon.svg);
    width: 23px;
    height: 20px;
    border: none;
    background-color: transparent;
    opacity: 40%;
    cursor: pointer;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: 150ms ease;
    opacity: 0.4;
} 

.card__like-button:hover {
    opacity: 1;
}

 @media screen and (max-width: 627px) {
    .card__image {
        height: 288px;
    }

      .card__title {
        max-width: 235px;
    }

}



