.footer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 60px 0;
  text-align: center;
  font-size: 14px;
  color: #212121;
}


.footer__text {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Poppins', Arial, sans-serif;
  color: #212121B2;
  margin: 0;
  text-align: center;
}
