.footer {
  max-width: 880px;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
  font-size: 14px;
  color: #212121;
}

.footer__line {
  width: 100%;
  height: 1px;
  background-color: rgba(33, 33, 33, 0.4);
  margin-bottom: 20px;
}
