.modal {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  z-index: 1111;
}


.modal_is-opened {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal__container {
    box-sizing: border-box;  
    max-width: 730px;
    width: 100%;
    border-radius: 8px;
    background-color: #fff;
    padding: 32px 50px;
    position: relative;
   
}

.modal__close-button {
    position: absolute;
    top: 32px;
    right: 50px;
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    font-size: 24px;
    color: #212121;
  cursor: pointer;
   opacity: 0.6;
    transition: opacity 0.3s ease;
    background: url(../images/closeButtonBlack.svg) center center no-repeat;
    background-color: transparent;
  

}

.modal__close-button_preview {
  top: 0;
  right: -48px;
  background: url(../images/closeButtonWhite.svg) center center no-repeat;
}

.modal__close-button_preview:hover {
  opacity: 1;
}

.modal__image-container {
  position: relative;
}


.modal__close-button:hover {
    opacity: 0.6;
}

.modal__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.modal__title {
margin: 0;
font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: #212121;
}

.modal__form {
    display: flex;
    flex-direction: column;
}

.modal__label {
    margin: 0 0 32px;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
  font-weight: 500;
  display: block;
}

.modal__input {
    display: block;
    margin: 8px 0 0;
    width: 100%;
    padding: 16px 12px;
    border: 1px solid rgba(33, 33, 33, 0.4);
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  box-sizing: border-box;  
}

.modal__input::placeholder {
    color: #2121214d;
}

.modal__submit-button {
    max-width: 156px;
    background-color: black;
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 18px 0; 
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal__submit-button:hover {
  background-color: #010113;
}

.modal__container {
position: relative;
}

.modal__caption {
    font-family: 'Poppins', Arial, sans-serif;
  margin: 0;
  padding: 4px 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  position: absolute;
  background-color: #212121;
  border-radius: 8px;
  left: 0;
  top: calc(100% + 10px);

}

.modal__image {
  width: 100%;
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
  border-radius: 8px;
  overflow: hidden;
}

.modal_type_preview {
  padding: 0 16px;
}

@media screen and (max-width: 627px) {

  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__input {
   font-size: 16px;
  }

  .modal__title {
    font-size: 20px;
    
  }

  .modal__caption {
    font-size: 16px;
  }

  .modal__close-button {
    top: 16px;
    right: 16px;
  }

  .modal__close-button_preview {
    top: -48px;
    right: 0;
  }
 

  .modal__submit-button {
    max-width: none;
  }

  .modal__image {
    max-width: none;
  }
}