.profile {
    display: flex;
   padding: 34px 0 20px;
   border-bottom: 1px rgb(33, 33, 33, 0.4) solid;
}

.profile__avatar {
    height: 190px;
    width: 190px;
    margin-right: 20px;
}

.profile__column {
    display: flex;
    flex-direction: column;
}

.profile__name {
    margin: 0 0 12px; 
    font-weight: 500;
    font-size: 32px;
    line-height: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 420px;
}

.profile__description {
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
     max-width: 420px;
}

.profile__edit-button {
    margin-top: auto;
}

.profile__add-button {
margin-left: auto;
}

@media screen and (max-width: 627px) {
    .profile {
        flex-direction: column;
        max-width: 288px;
        align-items: center;
        text-align: center;
        padding-top: 20px;
        margin: 0 auto;
    }
    
    .profile__avatar {
        margin: 0 0 12px;
        height: 80px;
        width: 80px; 
    }

    .profile__name {
        margin: 0 0 6px;
        font-size: 20px;
        max-width: 288px;
    }

    .profile__column {
        margin: 0 0 20px;
    }

    .profile__description {
        margin: 0 0 32px;
        max-width: 288px;
    }


    .profile__add-button {
       margin: 0;
       width: 100%;
     } 
    }

