.profile {
    display: flex;
   padding: 34px 0 20px;
   border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.profile__avatar {
    height: 190px;
    width: 190px;
    margin-right: 20px;
    border-radius: 8px;
}

.profile__column {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.profile__name {
    margin: 0 0 12px; 
    font-weight: 500;
    font-size: 32px;
    line-height: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 420px;
    color: #212121;
}

.profile__description {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: #212121b2;
    font-family: 'Poppins', Arial, sans-serif;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
     max-width: 420px;
}


.profile__add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  background-color: #1c1c1c;
  color: #fcf5e5;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  gap: 12px; 
  margin-left: auto;
  margin-top: auto;
}

.profile__add-button:hover {
  opacity: 0.8;
}

.profile__add-button img {
  width: 12px;
  height: 12px;
}

.profile__edit-button {
  margin-top: auto;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  font-family: inherit;
  font-size: 16px;
  color: #333;
  cursor: pointer;
}

.profile__edit-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.profile__edit-button img {
  width: 16px;
  height: 16px;
}

.button-icon {
  width: 20px;
  height: 20px;
}



@media screen and (max-width: 627px) {
    .profile {
        flex-direction: column;
        max-width: 288px;
        align-items: center;
        text-align: center;
        padding-top: 20px;
        margin: 0 auto;
    }
    
    .profile__avatar {
        margin: 0 0 12px;
        height: 80px;
        width: 80px; 
    }

    .profile__name {
        margin: 0 0 6px;
        font-size: 20px;
        max-width: 288px;
    }

    .profile__column {
        margin: 0 0 20px;
        align-items: center;
    }

    .profile__description {
        margin: 0 0 32px;
        max-width: 288px;
    }


    .profile__add-button {
       margin: 0;
       width: 100%;
     } 
    }

